<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherModde.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LauncherModde.My.MySettings>
            <setting name="username1" serializeAs="String">
                <value>CreeperGreg95</value>
            </setting>
            <setting name="password1" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="username2" serializeAs="String">
                <value>Loustic_01</value>
            </setting>
            <setting name="password2" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="usernameAdmin" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="passwordAdmin" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="usernameTest" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="passwordTest" serializeAs="String">
                <value>test</value>
            </setting>
        </LauncherModde.My.MySettings>
    </userSettings>
</configuration>
